.container{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 3px;
    grid-column-gap: 3px;
    background-color: antiquewhite;
    width:780px;
    height: 400px;
    position: relative;
    left:230px;
    top:30px;
}
.box1{
    background-color: red;
    height: 300px;
    width:450px;
    grid-template-columns: 300px;
    grid-row-start:1;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 5;
}
.box2{
    background-color: red;
    height: 140px;
    width:300px ;
    grid-template-columns: 300px;
    grid-auto-flow: row;
    grid-row-start: 1;
    grid-row-end: 9;
    grid-column-start:5;
    grid-column-end:10 ;
}
.box3{
    background-color: red;
    height: 140px;
    width:300px ;
    grid-column-gap: 3px;
    grid-template-columns: 300px;
    grid-auto-flow: row;
    grid-row-start: 3;
    grid-row-end: 9;
    grid-column-start:5;
    grid-column-end:10 ;
    position: relative;
    top:15px;
}
.box4{
    background-color: red;
    grid-column-start: 1;
    grid-column-end:3;
    width: 150px;
}
.box5{
    background-color: red;
    grid-column-start: 3;
    grid-column-end:5;
}
.box6{
    background-color: red;
    grid-column-start: 6;
    grid-column-end:8;
    grid-row-start: 7;
}
